<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.demo.mappers.roomMapper">   
    <select id="list" parameterType="String" resultType="com.example.demo.domain.RoomVO">
        SELECT
            *
        FROM Room
        WHERE md_user=#{id}
    </select>
    <select id="plist" parameterType="String" resultType="com.example.demo.domain.PtUserVO">
        SELECT
            *
        FROM RoomPUser
        WHERE
        pt_user = #{id}
    </select>
    <select id="roomDetail" parameterType="int" resultType="com.example.demo.domain.RoomVO">
        SELECT
            *
        FROM Room
        WHERE
            room_id = #{room_id}
    </select>
    <insert id="roomInsert" parameterType="com.example.demo.domain.RoomVO">
        INSERT INTO
        Room (room_id,room_name,code,md_user,pt_user,reg_date)
        VALUES(#{room_id},#{room_name},#{code},#{md_user},#{pt_user},now()) 
    </insert>
    <delete id="roomDelete" parameterType="int">
        DELETE FROM Room WHERE room_id = #{room_id}
    </delete>
    <insert id="update" parameterType="com.example.demo.domain.PtUserVO">
        INSERT INTO
        RoomPUser (room_id,room_name,md_user,pt_user)
		VALUES(#{room_id},#{room_name},#{md_user},#{pt_user})
    </insert>
    <select id="find" parameterType="String" resultType="com.example.demo.domain.RoomVO">
        SELECT
            *
        FROM Room
        WHERE
            code = #{code}
    </select>
    <insert id="enter" parameterType="com.example.demo.domain.RoomVO">
        INSERT INTO
        Room (room_id,room_name,code,md_user,pt_user,reg_date)
        VALUES(#{room_id},#{room_name},#{code},#{md_user},#{pt_user},now()) 
    </insert>
    <select id="findId" parameterType="String" resultType="int">
        SELECT
            room_id
        FROM Room
        WHERE
            code = #{code}
    </select>
    <select id="findName" parameterType="String" resultType="String">
        SELECT
            room_name
        FROM Room
        WHERE
            code = #{code}
    </select>
    <select id="findMdUser" parameterType="String" resultType="String">
        SELECT
            md_user
        FROM Room
        WHERE
            code = #{code}
    </select>
   <!--  <select id="pplist" parameterType="String" resultType="com.example.demo.domain.RoomVO">
        SELECT
            *
        FROM Room
        WHERE pt_user=#{id}
    </select> -->
</mapper>
